extends layout

block content
    script(src="/javascripts/login.js")
    link(rel="stylesheet" href="/stylesheets/login.css")

    .container
        .row.vertical-center
            .col-xs-8.col-xs-offset-2.col-md-6.col-md-offset-3
                ul.nav.nav-tabs.nav-justified
                        li#login.active(role="presentation")
                            a(href="#login") Log In
                        li#signup(role="presentation")
                            a(href="#signup") Sign Up
                form.login_boi(method='POST' action='/login' id="submit_form")
                    .form-group
                        label(for='email') Email
                        input.form-control(type='text' id='email' placeholder='email' name='email')
                    .form-group
                        label(for='password') Password
                        input.form-control(type='password' id='password' placeholder='password' name='password')
                    button.btn.btn-primary(type='submit' id="submit_button") Log In
