extends layout
include templates/project

append head
    link(rel='stylesheet', href='/stylesheets/projects.css')

block content
    .container
        h1.text-center Your Projects
        br
        .projects
            if projects.length == 0
                h1.text-center You appear to have no projects
                br
            else
                each project in projects
                    +project(project.project_id, project.title)

append scripts
    script(type='text/javascript', src='/javascripts/project.js')
