block content
    script(src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.css" rel="stylesheet" type="text/css")
    link(href="/stylesheets/mindMap.css" rel="stylesheet" type="text/css")
    .vertical-center
        #visualisation
    script const id = !{id};
    script const data = !{data};
    script const options = !{options};
    script(src="/javascripts/mindMap.js")
