extends layout

block content
    .container
        h1 Welcome to #{title}
        h3 The number one place* to make notes and mind maps
        p *don't quote us on that
        br
        +a-btn-primary('/projects') Go to your projects
