extends layout

append head
    link(rel="stylesheet" href="/stylesheets/flashcard.css")
    link(rel='stylesheet', href='/stylesheets/projects.css')

block content
    .container
        .float-left.d-inline(style="justify-contents:")
            a(href="/projects").d-inline Back to project list
            button.btn.btn-primary#switchbtn Switch View!
        .float-right.d-inline
            h1.text-center.d-inline #{title}
        if mindMap
            include projectMindmap
        else
            include projectList
    br

append scripts
    script(type='text/javascript', src='/javascripts/flashcard.js')
    script(type='text/javascript', src='/javascripts/projectSwitch.js')

