extends layout
include templates/project

append head
    link(rel='stylesheet', href='/stylesheets/projects.css')

block content
    .container
        h1.text-center Your Projects
        br
        .projects
            - var numProjects = 1
            case numProjects
                when 0
                    h1.text-center You appear to have no projects
                    br
                default
                    // Get all projects from backend, and put into project mixins
                    +project(1, "Project 1", 10, 100)
                    +project(2, "Project 2", 10, 100)
                    +project(3, "Project 3", 10, 100)
                    +project(123, "Project 123", 10, 100)
        br
        .buttons.text-center
            button.btn.btn-success(data-toggle="modal", data-target="#newProjectModal") Create new project
            +modal("New Project", "newProjectModal")
                form(method='POST' action='/project')
                    .form-group
                        label(for='title') Title
                        input#title.form-control(type='text', placeholder='name', name='name')
                    br
                    button.btn.btn-success(type='submit') Create Project
        br


append scripts
    script(type='text/javascript', src='/javascripts/project.js')