include ./accordionFlashCard

mixin accordionTag(tagID, tagName, flashCards)
    .accordion-item
        +accordion(tagName)
            +accordion-item-primary(tagName, tagName)
                +flashCard(1, "Testcard", "What is the capital of the UK?What is the capital of the UK?What is the capital of the UK?What is the capital of the UK?What is the capital of the UK?What is the capital of the UK?What is the capital of the UK?", "London")
                +flashCard(2, "Testcard2", "What is the capital of France?", "Paris")
                +flashCard(1, "Testcard", "What is the capital of Scotland?", "Edinburgh")
                +flashCard(2, "Testcard2", "What is the capital of Germany?", "Berlin")
            +accordion-item-primary("test", "test")
                +flashCard(2, "Testcard2", "What is the capital of Germany?", "Berlin")

    .modals.text-center
        button.btn.btn-success(data-toggle="modal", data-target="#newTagModal") Add new tag
        +modal("New Tag", "newTagModal")
            form(method='POST' action='/project')
                .form-group
                    label(for='title') Tag Name
                    input#title.form-control(type='text', placeholder='Please enter a name for your tag', name='name')
                button.btn.btn-success(type='submit') Create Tag

        button.btn.btn-warning(data-toggle="modal", data-target="#newFCModal") Add new flashcard
        +modal("New Flashcard", "newFCModal")
            form(method='POST' action='/project')
                .form-group
                    label(for='title') Question
                    input#title.form-control(type='text', placeholder='Please enter a question for your flashcard', name='title')
                .form-group
                    label(for='answer') Answer
                    input#answer.form-control(type='text', placeholder='Please enter an answer for your flashcard', name='answer')
                button.btn.btn-success(type='submit') Create Flashcard