mixin project(projectID, projectName, numTags, numFlashCards)
    .panel-clickable(data-href="/project/visual/list/" + projectID)
        +panel-info(projectName)
            p Number of Tags: #{numTags}
            p Number of Flashcards: #{numFlashCards}